<div class="btn-group btn-toggle" data-toggle="buttons" id="categories">
{% for category in categories %}
    <label class="btn {% if category in selected_categories %}btn-success btn-sm active{% else %}btn-default btn-sm{% endif %}" data-btn-class="success">
        <input type="checkbox" id="checkbox_{{ category|replace(' ', '_') }}" name="category_{{ category }}" {% if category in selected_categories %}checked="checked"{% endif %}> 
        {{ _(category) }}
    </label>
{% endfor %}
</div><!-- / categories_checkboxes -->