{% extends "bootstrax/base.html" %}
{% block head %} {% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{{ _('Engine stats') }}</h1>
    </div>

    <div class="row">

    {% for stat_name,stat_category in stats %}
        <div class="col-md-4">
            <table class="table">
                <tr colspan="3">
                    <th>{{ stat_name }}</th>
                </tr>
                {% for engine in stat_category %}
                <tr>
                    <td>{{ engine.name }}</td>
                    <td>{{ '%.02f'|format(engine.avg) }}</td>
                    <td>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{ engine.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ engine.percentage }}%;">
                            <span class="sr-only">{{ engine.percentage }}%</span>
                          </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table> <!-- /.table {{ stat_name }} -->
        </div>
    {% endfor %}
    
    </div><!-- /.row -->
{% endblock %}
